<a href="https://colab.research.google.com/github/brunomarschuck/FutureSkill/blob/main/%ED%93%A8%EC%B2%98%EC%8A%A4%ED%82%AC%ED%8C%8C%EC%9D%B4%EC%8D%AC_220818.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *1. PL017 반복문*
https://futureskill.io/content/db047bb7-6de1-4811-9bfa-3e82e256c5a1

## 1) for문 계산

### **문제**

다음 베이스라인의 출력값은 무엇인가요?

### **베이스라인**
```
a = 10
b = 2
for i in range(1, 5, 2):
    a += i
 
print(a+b)
```

In [ ]:
# 내 답안
16

### **(1) 개념**

for i in range(a, b, c) : 


---
i 값은 a 에서 b 전까지 c 씩 증가됨

In [ ]:
for i in range(1, 5, 2) :
  print(i)

1
3

### **(2) 설명**

for 문은 a = a + 1, a = a + 3 이 되므로  

a = 10 + 1+ 3 = 14 임.  

a + b = 14 + 2 = 16

## 2) 구구단 출력하기

### **문제**

1~9까지의 숫자 중 하나를 입력하면 그 단의 구구단 결과를 한 줄에 출력하는 코드를 작성해보세요.

In [ ]:
# 내 답안
num = int(input('1~9 중 원하는 숫자를 입력하세요 : '))

for i in range(1,10) :
  print(num * i, end = ' ')

1~9 중 원하는 숫자를 입력하세요 : 7
7 14 21 28 35 42 49 56 63

In [ ]:
# 다른 사람 답안(콤마로 연결)
j = int(input())

for i in range(1,10) :
    print(j*i,end='')
    if i != 9 :
        print(', ',end='')

2
2, 4, 6, 8, 10, 12, 14, 16, 18

### **(1) 개념**
print(a , end = ' ')


---
a 를 출력하고 줄바꿈이 아닌 ' ' 안의 값(이 경우는 띄어쓰기)로 끝냄

In [ ]:
print('b')
print('r')
print('u')
print('n')
print('o')

print('b', end = ' ')
print('r', end = ' ')
print('u', end = ' ')
print('n', end = ' ')
print('o', end = ' ')

b
r
u
n
o
b r u n o

## 3) for문을 이용한 기본 활용

### **문제**

0부터 100까지를 모두 더하는 코드를 작성하세요. (단, for문을 활용하세요.)

### **베이스라인**
```
sum = 0

'''code here'''

print(sum)
```
### **Output**
```
5050
```

In [ ]:
# 내 답안
sum = 0

for i in range(101) :
  sum += i

print(sum)

## 4) 별 찍기

### **문제**

크리스마스 날, 은비는 친구들과 함께 파티를 하기로 했습니다.

그런데, 크리스마스 트리를 사는 것을 깜빡하고 말았습니다. 온 가게를 돌아다녀 봤지만 크리스마스 트리는 모두 품절이었습니다.

하는 수 없이 은비는 프로그래밍으로 트리를 만들기로 합니다. 은비를 위해 프로그램을 작성해 주세요.

(단, 트리의 모양은 입력의 영향을 받습니다.)

### **Input**
```
3
5

```
### **Output**
```
  *
 ***
*****
    *
   ***
  *****
 *******
*********
```

In [ ]:
# 내 답안
n = int(input('숫자를 입력하세요 : '))
n2 = int(input('두 번째 숫자를 입력하세요 : '))


for i in range(1, n+1) : # 1부터 n까지
  print(' ' * (n-i), end = ' ') # 빈칸 출력(n번째에 0개)
  print('*' * (2 * i - 1)) # 별 홀수개 출력


for i in range(1, n2+1) :
  print(' ' * (n2-i), end = ' ')
  print('*' * (2 * i - 1))

숫자를 입력하세요 : 3
두 번째 숫자를 입력하세요 : 5
   *
  ***
 *****
     *
    ***
   *****
  *******
 *********

# *2. PL018 리스트*
https://futureskill.io/content/f2f84410-51c9-4817-89fc-bd8b89926e39

## 1) 리스트의 삭제

### **문제**

주어진 리스트에서 400, 500을 삭제하는 코드를 작성하세요.

### **베이스라인**
```
nums = [100, 200, 300, 400, 500]

'''
code here
'''

print(nums)
```

### **Output**
```
[100, 200, 300]
```

In [ ]:
# 내 답안
nums = [100, 200, 300, 400, 500]

nums.remove(400)
nums.remove(500)

print(nums)

In [ ]:
# 다른 사람 답안

# del 명령어 활용
nums = [100, 200, 300, 400, 500]

del nums[-1]
del nums[-1]

print(nums)


# pop() 활용
nums = [100, 200, 300, 400, 500]

nums.pop()
nums.pop()

print(nums)


# slicing 활용
nums = [100, 200, 300, 400, 500]

nums = nums[0:3]

print(nums)

### **(1) 개념**
리스트 a 가 있을 때,  

a.remove(b)  
del a[i]  
a.pop()



---
a 에서 b를 삭제(값을 알 때)  
a 에서 인덱스가 i 인 값을 삭제(인덱스를 알 때)  
a 의 마지막 값을 반환(print 하면 나옴)하고 리스트에서 삭제

In [ ]:
a = ['브루노', 23, True]
a.remove(23)
print(a)

['브루노', True]

In [ ]:
a = ['브루노', 23, True]
del a[0]
print(a)

[23, True]

In [ ]:
a = ['브루노', 23, True]
a.pop() # print 하면 True가 출력됨
print(a)

['브루노', 23]

## 2) 리스트의 내장함수

### **문제**

주어진 리스트의 중간에 숫자를 삽입하는 코드를 작성하세요.

### **베이스라인**
```
nums = [200, 100, 300]

'''
code here
'''

print(nums)
```

### **Output**
```
[200, 100, 10000, 300]
```

In [ ]:
# 내 답안
nums = [200, 100, 300]

nums.insert(2, 10000)
print(nums)

[200, 100, 10000, 300]

### **(1) 개념**
리스트 a 가 있을 때,  

a.insert(i, b)  



---
i 번째 인덱스에 b 값을 추가

## 3) 변형된 리스트

### **문제**

다음과 같이 리스트를 조작하는 코드를 작성하세요.

### **Input**
```
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']
```

### **Output**
```
[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]
```

In [ ]:
# 내 답안
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']
c = []

for i in range(1, 5) :
  if i % 2 == 1 : # 홀수 번째
    c.append([a[i-1],b[i-1]])
  else : # 짝수 번째
    c.append([b[i-1],a[i-1]])
print(c)

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

In [ ]:
# 다른 사람 답안
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

[[i,j] if i%2==1 else [j,i] for i,j in zip(a,b)]

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

### **(1) 개념**
리스트 a, b 가 있을 때,  

zip(a,b)  
i, j in zip(a,b)


---
두 리스트를 짝지어줌  
짝지어진 두 리스트의 값을 불러옴

In [ ]:
a = [100, 200, 300]
b = ['혜수', '호동', '미란']

for i,j in zip(a,b) :
  print(i,j)

100 혜수
200 호동
300 미란

## 4) enumerate

### **문제**

새학기가 되어 이름을 가나다 순서대로 배정하고 번호를 매기려고 합니다.

입력받은 명단 리스트를 처리하여, 이름과 번호를 아래와 같이 출력하는 코드를 작성해주세요.

### **베이스라인**
```
student = ['강은지','김유정','박현서','최성훈','홍유진',
           '박지호','권윤일','김채리','한지호','김진이',
           '김민호','강채연']

'''
code here
'''
```

### **Output**
```
번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진
```

In [ ]:
# 내 답안
student = ['강은지','김유정','박현서','최성훈','홍유진',
           '박지호','권윤일','김채리','한지호','김진이',
           '김민호','강채연']

for i, k in enumerate(sorted(student)) :
  print(f'번호: {i+1}, 이름: {k}')

### **(1) 개념**
리스트 a 가 있을 때,  

a.sort()  
sorted(a)  
enumerate(a)


---
a 의 값을 오름차순으로 정렬  
오름차순으로 정렬된 a 를 불러옴(실제 a 에는 영향 없음)  
a 의 값들을 인덱스와 짝지음

In [ ]:
a = ['제시카', '김범수', '티파니', '윤하']
a.sort()
print(a)

['김범수', '윤하', '제시카', '티파니']

In [ ]:
a = ['제시카', '김범수', '티파니', '윤하']
print(sorted(a))
print(a)

['김범수', '윤하', '제시카', '티파니']
['제시카', '김범수', '티파니', '윤하']

In [ ]:
a = ['제시카', '김범수', '티파니', '윤하']
print(enumerate(a))
print(list(enumerate(a))) # 실제 어떤 식으로 나오는지 보기 위해 list 로 만들었음

<enumerate object at 0x7f7b23bb3140>
[(0, '제시카'), (1, '김범수'), (2, '티파니'), (3, '윤하')]

# *3. PL004 조건문*
https://futureskill.io/content/85ed334a-4170-491b-9cf6-fcafd3de45ba

## 5) 자동 입장료 계산기 (조건문)

### **문제**
다음과 같은 Output을 얻는 코드를 작성하세요.


### **조건**
입장료는 나이에 따라 다릅니다.  
20세 이상 : 8000원  
10세 ~ 19세 : 5000원  
10세 미만 : 2500원  
for 를 이용하여 ages 에 저장되어있는 나이를 검사하세요.  
나이에 따라 total_price 에 입장료를 더하세요.


### **베이스라인**
```
total_price = 0
ages = [22,21,17,32,4,28,19,8]

'''
code here
'''
```

### **Output**
```
총 입장료는 47000원 입니다.
```

In [ ]:
# 내 답안
total_price = 0
ages = [22,21,17,32,4,28,19,8]

for age in ages :
  if age >= 20 :
    total_price += 8000
  elif 10 <= age <= 19 :
    total_price += 5000
  else :
    total_price += 2500 

print(f'총 입장료는 {total_price}원 입니다.')

## 7) 사탕 도둑을 잡아라 (조건문)

### **문제**
다음과 같은 Output을 얻는 코드를 작성하세요.


### **조건**
사탕을 모두 도둑맞은 도도새는 범인을 찾고자 합니다.

도도새는 도둑의 인상착의를 암컷 개로 기억하고 있습니다.

용의자suspects 중에서 도둑을 찾는 코드를 for 과 if 를 이용해서 찾아주세요.


### **베이스라인**
```
suspects = [['거위','새','암컷'],['푸들','개','수컷'],['비글','개','암컷']]

'''
code here
'''
```

### **Output**
```
범인은 비글입니다!
```

In [ ]:
# 내 답안
suspects = [['거위','새','암컷'],['푸들','개','수컷'],['비글','개','암컷']]

for suspect in suspects :
  if suspect[1] == '개' and suspect[2] == '암컷':
    print(f'범인은 {suspect[0]}입니다!')

범인은 비글입니다!

In [ ]:
# 다른 사람 답안
suspects = [['거위','새','암컷'],['푸들','개','수컷'],['비글','개','암컷']]

for idx,i in enumerate(suspects):
    if "개" in i and "암컷" in i :
        print(f"범인은 바로 너! {suspects[idx][0]}")